---
Checks: >
    -clang-analyzer-*,
    modernize-concat-nested-namespaces,
    modernize-raw-string-literal,
    modernize-use-equals-default,
    modernize-use-auto,
    modernize-use-emplace,
    modernize-loop-convert,
    modernize-pass-by-value,
    modernize-use-default-member-init

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
