---
Checks: >
    -clang-analyzer-*,
    modernize-*,
    -modernize-return-braced-init-list,
    -modernize-use-trailing-return-type,
    -modernize-use-nodiscard
    cppcoreguidelines-avoid-magic-numbers

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
