[submodule "include/cxxopts"]
	path = include/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "include/polylineencoder"]
	path = include/polylineencoder
	url = https://github.com/vahancho/polylineencoder
[submodule "include/rapidjson"]
	path = include/rapidjson
	url = https://github.com/Tencent/rapidjson
